/**********************************************
*               Styles Sheet                  *
*   Designed and Developed by Cody Koscielski *
**********************************************/


            /***********************
                Table of contents

                1. Main Styles
                2. Class Styles
                3. Form Styles
                4. ID Styles
                5. Media

            ***********************/

/* Main Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
}


h4 {
    text-align: center;
}

h5 {
    color: #B64328;
}

p{
    line-height: 1.6;
}

/* Class Styles */

.aboutbox {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

.aboutparagraphy {
    margin-bottom: 5%;
}

.after-care-title {
    color: #B64328;
}

.artist-img:hover{
    transition-duration: .4s;
    transform: scale(1.5);
    cursor: pointer;
    border-radius: 5px;
}

.artist-img-box {
    width: 200px;
    height: 200px;
    margin: 2%;
}

.artist-nav {
    color: black;
}

.artist-nav:hover{
    background-color: #B64328;
    color: white;
    transition-duration: .25s;
}

.artisttab {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.brand {
    width: 400px;
}

.box {
    width: 250px;
    height: 250px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.btn-social-icon {
    margin: 1%;
}

.carefooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-button {
    display: block;
    border-radius: 15px;
    background-color: #B64328;
    color: white;
    position: relative;
    box-shadow: 0 5px rgba(0, 0, 0, 0.3);
}
.contact-button:hover {
    box-shadow: 0 3px rgba(0, 0, 0, 0.3);
    top: 2px;
}

.contact-button:active {
    box-shadow: none;
    top: 5px;
}

.footerlinks {
    color:white;
}

.footerlinks:hover {
    transition-duration: .3s;
    font-size: 18px;
    color: #B64328;
}

.footer-logo{
    width: 150px;
    height: auto;

}

.footer-logodiv {
    display: flex;
    align-items: center;
    justify-content: center;
}


.jumbotron {
    background-image: url("/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    margin-bottom: 0;
}
.img-box {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 200px;
}

.main-body-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-header {
    background-image: url("/images/Navbar.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-image: url("/images/Navbar.png");
}

.artist-nav-item {
    background-color: red;
    border-bottom: none;
    border-radius: 25PX;
}

.site-footer{
    background-image: url("/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2%;
    padding: 5px;
}

.social-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #B64328;
    
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}


.tagline{
    text-align: center;
}

.title{
    text-align: center;
    margin-top: 2%;
    color: #B64328;
}

.titletattooshop {
    line-height: .5;
}

.wrapper {
    min-height: calc(100vh - 154px);
}


/************************
*       Form Styles     *
************************/

.form-control {
    border-radius: 10px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.3);
    position: relative;
}

.form-control:hover {
    border: 2px solid #B64328;
    transition-duration: .25s;
    box-shadow: 0 1px rgba(0, 0, 0, 0.3);
    top: 1px;
}

.form-control:focus {
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px solid #B64328;
    top: 3px;
    color: black;
}


/* ID Styles */

#tattoocarousel li {
    cursor: pointer;
}

/* Media */
@media screen and (max-width:760px){

    .artisttab {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .aboutbox {
        margin-top: 2%;
    }

    .img-box{
        width: 100%;
    }

    .jumbotron{
        justify-content: flex-start;
        align-items: center;
        height: 150px;
    }

    .logo {
        display: none;
    }

    .brand{
        width: 300px;
    }

    .test-img {
        height: 150px;
        width: 150px;
    }


}