/***********************
*      Styles Sheet    *
***********************/


/***********************

    1. Main Styles
    2. Class Styles
    3. Media

***********************/

/* Main Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    text-align: center;
}

h5 {
    color: #B64328;
}

/* Class Styles */

.aboutbox {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

.artist-nav {
    color: black;
}

.artist-nav:hover{
    background-color: #B64328;
}

.artisttab {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.brand {
    width: 400px;
}

.box {
    width: 250px;
    height: 250px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}


.footerlinks {
    color:white;
}

.footerlinks:hover {
    transition-duration: .3s;
    font-size: 18px;
    color: #B64328;
}

.footer-logo{
    width: 150px;
    height: auto;
}


.jumbotron {
    background-image: url(/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    margin-bottom: 0;
}
.img-box {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 200px;
}

.navbar {
    background-image: url(/images/Navbar.png);
}


.site-footer{
    background-image: url(/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2%;
    padding: 5px;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.tagline{
    text-align: center;
}


.test-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: lightgray;
    margin: 2%;
}

.title{
    text-align: center;
    margin-top: 2%;
}


/* ID Styles */

#tattoocarousel li {
    cursor: pointer;
}

/* Media */
@media screen and (max-width:760px){

    .artisttab {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .aboutbox {
        margin-top: 2%;
    }

    .img-box{
        width: 100%;
    }

    .jumbotron{
        justify-content: flex-start;
        align-items: center;
        height: 150px;
    }

    .logo {
        display: none;
    }

    .brand{
        width: 300px;
    }

    .test-img {
        height: 150px;
        width: 150px;
    }


}